[user]
	name = Christopher Hylarides
	email = christopher@streetcontxt.com
[core]
	editor = vi
	excludesfile = /Users/chylarides/.gitignore_global
	pager = less
[alias]
	lg = log --color --graph --abbrev-commit --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset'
[push]
	default = simple
	autoSetupRemote = true
[pull]
	rebase = false
[init]
	defaultBranch = main
[pager]
	branch = cat
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[fetch]
	prune = true
	all = true
[rebase]
	updateRefs = true
[merge]
	conflictstyle = zdiff3
